.accordion {
  &__list {
    padding-bottom: 1rem;
  }

  &__item {
    $this: &;
    margin-bottom: 1.5rem;

    &--expanded {
      #{$this}-title {
        background-color: $dark-green;
      }
    }

    &-title {
      transition: background-color 200ms ease;
      background-color: $green;
      color: white;
      font-size: 1rem;
      padding: 1.25rem 8.3rem 1.25rem 2rem;

      @include for-size(tablet-down) {
        padding-right: 3.37rem;
      }

      &:after {
        background: url(assets/images/icon-arrow-down--triangle.svg) no-repeat center;
        width: 30px;
        height: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 4rem;

        @include for-size(tablet-down) {
          right: 1.25rem;
        }
      }
    }

    &-content {
      background-color: $light-gray;

      &-text {
        padding: 2rem;

        @include for-size(laptop-up) {
          column-count: 2;
        }
      }
    }
  }
}