.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include for-size(laptop-up) {
    padding-right: 3.18rem;
    padding-left: 3.18rem;
  }

  &__item {
    display: flex;
    width: 25%;
    margin-bottom: 3.18rem;

    @include for-size(tablet-down) {
      width: 33.3%;
    }

    @include for-size(phone-only) {
      width: 50%;
    }
  }

  &__image {
    max-width: 5.625rem;
    object-fit: scale-down;
    margin: auto;

    @include for-size(tablet-down) {
      margin: auto;
    }
  }
}